<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rohanKN</title>
    
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/photoandpills.css">
    <link rel="stylesheet" href="/css/dialogue.css">
    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="/css/skills.css">
    <link rel="stylesheet" href="/css/education.css">
    <link rel="stylesheet" href="/css/greeting.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/themeSwitch.css">
    <link rel="stylesheet" href="/css/pagetwo.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    
</head>