<div class="loginBox">
    <form class="loginForm" method="POST" action="/login">
    

    <div id="loginPhotocontainer">
        <div id="loginPhoto">

        </div>
    </div>

    <!-- Message div -->
        <!-- <div class="loginMessage">
            Please enter your password to continue
        </div> -->

    <input type="password" name="password" placeholder="" required>

    <button type="submit">Login</button>

</form>
</div>