<div class="loginBox">
    <form class="loginForm" method="POST" action="/login">
        
    <img src="" alt="logo" class="loginImg">

    <input type="password" name="password" placeholder="Enter Password" required>

    <button type="submit">Login</button>

</form>
</div>