<nav class="navbar">
    <div class="nav-left">
        <a href="#outercoverEduc">Education</a>
        <a href="#skillsSection">Skills</a>
        <a href="#projectsSection">Projects</a>
        <a href="#footer">Contact</a>
        <label class="themeSwitch">
  <input type="checkbox" id="themeToggle">
  <span class="slider">
      <span class="icon sun">🌙</span>
      <span class="icon moon">☀</span>
  </span>
</label>
    </div>
     <button class="menuToggle" id="menuToggle">☰</button>
    <div class="nav-right">
        <a href="/publicportfolio">
            <button class="login-btn">submit</button>
        </a>
    </div>
</nav>