<section id="projectsSection">

    <div id="projects">

        <div id="projectsHead">
            <span>Projects</span>
            <a href="/portfolio/addproject" id="addProjectBtn">+ Add Project</a>
        </div>

        <div id="projectsBody">
            <% for (let project of projects) { %>

                <div class="projectItemWrapper">

                    <a class="projectItem" href="/portfolio/projects/<%= project.projectName %>">
                        <%= project.projectName %>
                    </a>

                    <a href="/portfolio/projects/<%= project.projectName %>/edit" class="projectBtn editBtn">
                        Edit
                    </a>

                    <form action="/portfolio/projects/<%= project.projectName %>?_method=DELETE" method="POST" class="projectBtnForm">
                        <button class="projectBtn deleteBtn">Delete</button>
                    </form>

                </div>

            <% } %>
        </div>

    </div>


    <!-- RIGHT PANEL -->
    <div id="projectsInDetail">
        <!-- Selected project details will render here -->
    </div>

</section>