<section id="skillsSection">

    <div id="skills">
        <div id="skillsHead">
            <span id="headingskills">Skills</span>
        </div>
        <div id="skillsbody">
            <% for (let skill of skills) { %>
                <div class="skillItemWrapper">
                    <a class="skillItem" href="/publicportfolio/<%= skill.skillName %>">
                        <div class="skillsName"><%= skill.skillName %> </div>
                    </a>
                </div>
                <% } %>
        </div>

    </div>

    <div id="skillsInDetail">

    </div>


</section>