<div id="projects">
    <div id="projectsHead">
        <span>Projects</span>
    </div>

    <div id="projectsBody">
        <% for (let project of projects) { %>
            <div class="projectItemWrapper">

                <a class="projectItem" href="/publicportfolio/projects/<%= project.projectName %>">
                    <%= project.projectName %>
                </a>

            </div>
        <% } %>
    </div>
</div>