<section id="skillsSection">

    <div id="skills">
        <div id="skillsHead">
            <span>Skills</span>
        </div>
        <div id="skillsbody">
            <% for (let skill of skills) { %>
                <div class="skillItemWrapper">
                    <a class="skillItem" href="/portfolio/<%= skill.skillName %>">
                        <%= skill.skillName %>
                    </a>
                </div>
                <% } %>
        </div>

    </div>

    <div id="skillsInDetail">

    </div>


</section>