<div id="greetingBox">
    <div class="greetingRow" id="hiRow">
        <h1>Hi</h1>
    </div>
    <div class="greetingRow" id="introRow">
        <h1>I'm <span id="ron">ROHAN K N</span></h1>
    </div>
    <div class="greetingRow" id="extraIntroRow">
        <h1>Software Developer / Full-Stack & Data Science Enthusiast</h1>
    </div>
    <div class="greetingRow" id="descriptionRow">
        <h4>
            Passionate software developer with expertise in full-stack web development and data science/AI. Skilled in
            building efficient, scalable, and user-centric web applications using HTML, CSS, JavaScript, React, Node.js,
            Express, and databases (MySQL & MongoDB). Experienced in Python-based data analysis, machine learning, and
            deep learning, with hands-on knowledge of NumPy, Pandas, Matplotlib, Seaborn, Scikit-learn, and neural
            network models. Strong foundation in problem-solving and data structures & algorithms, eager to contribute
            to innovative projects that bridge web development and AI-driven solutions. Thrives in collaborative
            environments and committed to delivering high-quality, impactful software.
        </h4>
    </div>
</div>