<section id="skillsSection">

    <div id="skills">
        <div id="skillsHead">
            <span id="headingskills">Skills</span>
            <a href="/portfolio/addskill" id="addSkillBtn">+ Add Skill</a>
        </div>
        <div id="skillsbody">
            <% for (let skill of skills) { %>
                <div class="skillItemWrapper">
                    <a class="skillItem" href="/portfolio/<%= skill.skillName %>">
                        <div class="skillsName"><%= skill.skillName %> </div>
                    </a>

                    <!-- Edit button -->
                    <a href="/portfolio/<%= skill.skillName %>/edit" class="skillBtn editBtn">
                        Edit
                    </a>

                    <!-- Delete button (POST with method-override) -->
                    <form action="/portfolio/<%= skill.skillName %>?_method=DELETE" method="POST" class="skillBtnForm">
                        <button type="submit" class="skillBtn deleteBtn">Delete</button>
                    </form>
                </div>
                <% } %>
        </div>

    </div>

    <div id="skillsInDetail">

    </div>


</section>