<%- include("includes/head.ejs"); %>

    <body>

        <div class="skillBox">

            <form class="skillForm" action="/portfolio/addskill" method="POST">

                <h1>What new u learn my boy?</h1>

                <img src="" alt="skill image" class="skillImg">

                <input type="text" name="skill" placeholder="Enter new skill..." required>

                <button type="submit">Add Skill</button>

            </form>

        </div>
    </body>

    </html>