<%- include("includes/head.ejs"); %>
<body >

 <div class="formtopicBox">

    <form class="topicForm" method="POST" action="/portfolio/<%= selectedSkill.skillName %>/addtopics">

        <h1>Add details for <%= selectedSkill.skillName %></h1>

        <img src="/images/topic.png" alt="topic image" class="topicImg">

        <input 
            type="text" 
            name="topic" 
            placeholder="Enter new topic..."
            required
        >

        <button type="submit">Add Topic</button>

    </form>

</div>
</body>
</html> 