<%- include("includes/head.ejs"); %>
<body style="padding-top:0%;">
<%- include("includes/backgroundnoanimation.ejs"); %>
 <div class="formtopicBox">

    <form class="topicForm" method="POST" action="/portfolio/<%= selectedSkill.skillName %>/addtopics">

        <h1>cheack out the big brain on brett</h1>

        <div class="topicImg"></div>


        <input 
            type="text" 
            name="topic" 
            placeholder="Enter new topic..."
            required
        >

        <button type="submit">Add Topic</button>

    </form>

</div>
</body>
</html> 