<%- include("includes/head.ejs"); %>

    <body style="padding-top:0%;">

        <%- include("includes/backgroundnoanimation.ejs"); %>

            <div id="pageTwo">
                <div class="loginBox">
                    <form class="loginForm" method="POST" action="/login">

                        <div id="loginfailPhotocontainer">
                            <div id="loginfailPhoto">

                            </div>
                        </div>

                        <!-- Message div -->
                        <div class="loginMessage">
                            <h2>try enter again. TRY ENTER again! And I dare you, I double dare you mangosucker! try enter one
                            more time.</h2>
                            
                        </div>

                        <input type="password" name="password" placeholder="please Enter the Password" required>

                        <button type="submit">Login</button>

                    </form>
                </div>
            </div>
            <script src="app.js" type="module"></script>
    </body>

    </html>