

 
.themeSwitch{
  position:relative;
  width:52px;
  height:26px;
  margin-right:15px;
}

.themeSwitch input{
  display:none;
}

.slider{
  position:absolute;
  inset:0;
  background:#ddd;
  border-radius:50px;
  cursor:pointer;
  transition:.3s;
}

/* knob */
.slider::before{
  content:"";
  position:absolute;
  width:22px;
  height:22px;
  left:2px;
  top:2px;
  background:white;
  border-radius:50%;
  transition:.3s;
}

/* DARK ACTIVE */
input:checked + .slider{
  background:#222;
}

input:checked + .slider::before{
  transform:translateX(26px);
  background:#6aff6a;
  box-shadow:0 0 8px #6aff6a;
} 






.themeSwitch{
  position:relative;
  width:64px;
  height:30px;
  margin-right:15px;
}

.themeSwitch input{
  display:none;
}

/* slider background */
.slider{
  position:absolute;
  inset:0;
  background:#ffe58a;
  border-radius:50px;
  cursor:pointer;
  transition:.4s;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 8px;
  font-size:16px;
}

/* knob */
.slider::before{
  content:"";
  position:absolute;
  width:24px;
  height:24px;
  left:3px;
  top:3px;
  background:white;
  border-radius:50%;
  transition:.4s;
  z-index:2;
}

/* icons */
.icon{
  pointer-events:none;
  z-index:1;
  transition:.4s;
}

/* dark mode active */
input:checked + .slider{
  background:#1b1b1b;
}

/* move knob */
input:checked + .slider::before{
  transform:translateX(34px);
  background:#6aff6a;
  box-shadow:0 0 10px #6aff6a;
}

/* fade icons */
.sun{
  opacity:1;
}

.moon{
  opacity:0.4;
}

input:checked + .slider .sun{
  opacity:0.4;
}

input:checked + .slider .moon{
  opacity:1;
}



